.notes
  %header
    %nav
      = link_to 'New', new_note_path, class: 'btn btn-blue'
  %article.note
    %section
      %p= link_to 'This is a title'
    %aside
      %p Nov 23, 2014, 10:33 AM
  %article.note
    %section
      %p= link_to 'This is a title'
    %aside
      %p Nov 23, 2014, 10:33 AM
  %article.note
    %section
      %p= link_to 'This is a title'
    %aside
      %p Nov 23, 2014, 10:33 AM
  %article.note
    %section
      %p= link_to 'This is a title'
    %aside
      %p Nov 23, 2014, 10:33 AM
